.articlebody {
	background-color: #F0EBEB;
	width: 45%;
	margin: 0 auto;

}

.articletext {
/* Some people just kno: */
	font-family: Times;
	font-size: 22px;
	color: #000000;
	letter-spacing: 0px;
	margin: 0 auto;
	padding: 25px 50px 25px 50px;
}