.articlebody {
	position: relative;
	background-color: #F0EBEB;
	width: 45vw;
	height: 70vh;
	margin: 0 auto;
	overflow-y: scroll;
	z-index: 2;
}

.articletext {
/* Some people just kno: */
	font-family: Times;
	font-size: 22px;
	color: #000000;
	letter-spacing: 0px;
	margin: 0 auto;
	padding: 25px 50px 25px 50px;
}