.articleheader_container {
	position: relative;
	padding-top: 60px;
	padding-bottom: 20px;
	z-index: 2;
}

.articleheader {
	position: relative;
	display: flex;
	width: 45%;
	vertical-align: center;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-around;
	opacity: 0.67;
	background: #F0EBEB;
	border: 1px solid #979797;
	border-radius: 15px
}

.articleheader_left {
	order: 1;
}

.articleheader_right {
	order: 2;
}

.title {
	font-family: "Arial-Black";
	font-size: 24px;
	color: #0B0B0B;
	letter-spacing: 0px;
}

.artist {
	font-family: "Arial-ItalicMT";
	font-size: 20px;
	color: #0B0B0B;
	letter-spacing: 0px;
}