

.topbar {
  position:absolute;
  background: #F5EDED;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  height: 15%;
  width: 100%;
}

.title {
  font-family: BradleyHandITCTT-Bold;
  font-size: 48px;
  color: #5D2261;
  letter-spacing: 0px;
}
